In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
start_date="01/01/2015"
end_date="01/01/2023"
date_table=pd.DataFrame(pd.date_range(start_date,end_date,freq='D'),columns=['Date'])
date_table['year']= date_table['Date'].dt.year
date_table['Month']= date_table['Date'].dt.month
date_table['quarter']= date_table['Date'].dt.quarter
date_table['Day of Week']= date_table['Date'].dt.dayofweek
date_table['Day Abb']= date_table['Date'].dt.strftime('%a')
date_table.set_index(['Date'],inplace=True)
date_table.to_csv('date_table')
date_table

            year  Month  quarter  Day of Week Day Abb
Date
2015-01-01  2015      1        1            3     Thu
2015-01-02  2015      1        1            4     Fri
2015-01-03  2015      1        1            5     Sat
2015-01-04  2015      1        1            6     Sun
2015-01-05  2015      1        1            0     Mon
...          ...    ...      ...          ...     ...
2022-12-28  2022     12        4            2     Wed
2022-12-29  2022     12        4            3     Thu
2022-12-30  2022     12        4            4     Fri
2022-12-31  2022     12        4            5     Sat
2023-01-01  2023      1        1            6     Sun

[2923 rows x 5 columns]